
@{
    ViewBag.Title = "LoginCredentialForm";
}

<h2>LoginCredentialForm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Label("UserName", "Enter Your UserName :");
    @Html.TextBox("UserName");<br /><br />

    @Html.Label("Password", "Enter Your Password :");
    @Html.Password("Password");<br /><br />

    <input type="submit" value="Submit" />
    <input type="reset" value="Reset" />
}

<div>
    <h4>Login Result : @ViewBag.Result</h4>
</div>

